extends layout
block styles
block contents
	md-toolbar(layout-align='center center').bg-black.md-padding
		//h1 JS
		h3
			span(zoozlerfy data-copyright='false')
			|  Development Tool
	div(layout='row' flex).container
		md-sidenav(md-is-locked-open='true').md-whiteframe-4dp
			md-list
				md-list-item
					md-button(ui-sref='installation' flex) Installation
				md-list-item
					md-button(ui-sref='contact-form' flex) Contact Form
				md-list-item
					md-button(ui-sref='copyright' flex) Copyright
				md-list-item
					md-button(ui-sref='youtube' flex) Responsive Youtube
				md-list-item
					md-button(ui-sref='slideshow' flex) Responsive Slideshow
		md-content(flex)#content
			ui-view
block scripts



